In [5]:
import pandas as pd

In [209]:
path="j1/distribution-of-urban-population-by-age-and-sex-kenya-2019-census-volume-iii.csv"
df=pd.read_csv(path )
#df.head(20)
df.keys()

Index(['Age', 'Male', 'Female', 'Intersex', 'Total'], dtype='object')

In [210]:
def convert(d):
    if(d != "-"):
        return int(d)
    else:
        return "-"

In [211]:
df["Male"]=df["Male"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["Female"]=df["Female"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["Intersex"]=df["Intersex"].str.split(",").str.join(sep="").apply(convert)
df["Total"]=df["Total"].str.split(",").str.join(sep="").apply(lambda a:int(a))
path="v1/distribution-of-urban-population-by-age-and-sex-kenya-2019-census-volume-iii.csv"
#df.to_csv(path,header=True,)

In [217]:
df2=pd.read_csv("j1/notified-births-in-the-last-12-months-by-county-2019-census-volume-iv.csv")

In [218]:
df2["Per Cent Notified"]=df2["Per Cent Notified"].astype("int")
df2["Total"]=df2["Total"].str.split(",").str.join(sep="").apply(convert)
df2["Not Stated"]=df2["Not Stated"].str.split(",").str.join(sep="").apply(convert)
df2["Notified"]=df2["Notified"].str.split(",").str.join(sep="").apply(convert)
df2["Not Notified"]=df2["Not Notified"].str.split(",").str.join(sep="").apply(convert)
df2["Don't Know"]=df2["Don't Know"].str.split(",").str.join(sep="").apply(convert)
df2['Not Notified']=df2['Not Notified'].astype("int")
path="v1/notified-births-in-the-last-12-months-by-county-2019-census-volume-iv.csv"
df2.to_csv(path,header=True,)

In [216]:
df2.head()

,Unnamed: 0,Total,Notified,Not Notified,Don't Know,Not Stated,Per Cent Notified
0,KENYA,1340468,1212142,125714,2609,3,90
1,RURAL,888039,777343,108563,2131,2,87
2,URBAN,452429,434799,17151,478,1,96
3,MOMBASA,37249,35201,2026,22,-,94
4,KWALE,29226,26455,2719,52,-,90