In [2]:
import pandas as pd

In [57]:
path="random/tabula-knbs-economic-survey-2020-1-copy-of-sheet1.csv"
df=pd.read_csv(path)

In [58]:
df.tail(20)
df[df.duplicated()]
df.keys()

Index(['Level', 'Category', '2015', '2016', '2017', '2018', '2019'], dtype='object')

In [59]:
df["2015"]=df["2015"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["2016"]=df["2016"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["2017"]=df["2017"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["2018"]=df["2018"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df["2019"]=df["2019"].str.split(",").str.join(sep="").apply(lambda a:int(a))
df

           Level Category   2015   2016   2017   2018   2019
0  Pre-Primary :   Public  24862  25175  25381  25589  28383
1  Pre-Primary :  Private  15913  16073  16398  16728  18147
2       Primary:   Public  22414  22939  23584  24241  23286
3       Primary:  Private   8919  10263  11858  13669   9058
4     Secondary:   Public   8297   8592   9111   9643   8933
5     Secondary:  Private   1143   1350   1544   1756   1530

In [63]:
path="v1/tabula-knbs-economic-survey-2020-1-copy-of-sheet1"
df.to_csv(path,header=True,)